.div{
    width: 650px;
    height: 400px;
    margin-left: 1200px;
    margin-top: 350px;
    background-color: rgba(51, 133, 255, 0.137);
    border-radius: 1rem;
    display: inline-block;
}

.div-2{
   padding-top: 30px;
   padding-left: 65px;
    width: 560px;
    height: 600px;
   
}

.submit{
   
    padding-top: 25px;

}

/* .submit{
    color: brown;
    transition: all ;
}

submit:hover{
    color: aqua;
} */

.call-us{
    margin-top: -110px;
    margin-left: 500px;
    margin-top: 100px;
}


/* .text{
    display: flex;
    width: 500px;
    height: 500px;
    margin-top: -100px;
    margin-left: 650px;
} */

.text{
    margin-top: -400px;
    width: 650px;
    margin-left: 500px;
}